<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登录页</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/app.css" rel="stylesheet" />
	</head>
	<style type="text/css">
		* {
			-webkit-user-select: none;
		}
		
		html,
		body {
			margin: 0px;
			padding: 0px;
			height: 100%;
		}
		
		#bcid {
			background: #0F0;
		}
	</style>

	<body style="background-color:#E8ECF3;">
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">首页</h1>
		</header>
		<div class="mui-content" id="bcid"></div>
	</body>
	<script data-main="../js/app/index" src="../js/require.js"></script>

</html>